<head>
   <title>Log In Page</title>
</head>

<div class="col-md-6 login-form">
   <h2>Welcome to the Employee Portal</h2>
   <h3>Please Login</h3>
   <form>
       <div class="form-group">
           <input type="text" id="username" maxlength="12" pattern="^[a-zA-Z][a-zA-Z0-9]*$"
           title="Usernames shall start with a letter and contain only alphanumeric characters." class="form-control"
           placeholder="Username" autofocus [(ngModel)]="username" name='username'>
       </div>
       <div class="form-group">
           <input type="text" id="password" maxlength="32" title="Password shall be no longer than 32 characters in length."
           class="form-control" placeholder="Password" [(ngModel)]='password' name='password'>
       </div>
       <div class="form-group">
           <input type="submit" class="btnSubmit" value="Login" (click)="LogIn()">
       </div>
   </form>
</div>


<!--
<div *ngIf="loggedIn">
   <p>Username:</p> <input type="text" [(ngModel)]="Username">
   <p>Password:</p> <input type="text" [(ngModel)]="Password">
   <h3>{{Invalid}}</h3>
   <button (click)="LogIn()">Log In</button>
</div> -->