<div [ngSwitch]="this.page">


   <div *ngSwitchCase="State.Choices">

      <button (click)="checkIn()">Check In</button>

      <br><br>

      <button (click)="checkOut()">Check Out</button>

      <br><br>

      <button (click)="seeAvailable()">See Available Items</button>

      <br><br>

      <button (click)='goBack()'>Log Out</button><br>
   </div>


   <div *ngSwitchCase="State.CheckIn">
      <h1 style="text-align: center;">Check In</h1>
      <form>

         <!--SHOULD BE INPUT FIELDS AND A SUBMIT BUTTON-->
         <!--WITH SUCCESS OR FAIL MESSAGE-->

         <input type="number" id="id" placeholder="Item ID" [(ngModel)]="id" name = "id">
         <button (click)='submitCheckIn()'>Check In</button><br><br><br>

         <table>
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Item ID</th>
                              <th>Time-Out</th>
                              <th>Time-In</th>
                              <th>Borrower</th>
                              <th>Manager Out</th>
                              <th>Manager In</th>
                           </tr>
                  </thead>
                  <tbody *ngFor="let transaction of transactionList">
                        <tr>
                              <td>{{transaction.t_id}}</td>
                              <td>{{transaction.t_item_id}}</td>
                              <td>{{transaction.t_timeout}}</td>
                              <td>{{transaction.t_timein}}</td>
                              <td>{{transaction.t_borrower}}</td>
                              <td>{{transaction.t_manokout}}</td>
                              <td>{{transaction.t_manokin}}</td>
                           </tr>
                  </tbody>
               </table>


      </form>

      <br><br>
      <button (click)='goBack()'>Go Back</button><br>
   </div>


   <div *ngSwitchCase="State.CheckOut">
      <h1 style="text-align: center;">Check Out</h1>
      <form>

         <!--SHOULD BE INPUT FIELDS AND A SUBMIT BUTTON-->
         <!--WITH SUCCESS OR FAIL MESSAGE-->

         <input type="number" id="id" placeholder="Item ID" [(ngModel)]="id" name = "id">
         <button (click)='submitCheckOut()'>Check Out</button><br><br><br>

            <table>
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Name</th>
                     <th>Status</th>
                     <th>Image</th>
                  </tr>
               </thead>
               <tbody *ngFor="let item of sortedItemList">
                  <tr *ngIf="item.i_avail == 1">
                     <td>{{item.i_id}}</td>
                     <td>{{item.i_name}}</td>
                     <td>{{item.i_avail}}</td>
                     <td>{{item.i_pic}}</td>
                  </tr>
               </tbody>
            </table>
            <br><br>

         <!-- <table>
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Image</th>
               </tr>
            </thead>
            <tbody *ngFor="let item of itemList">
               <tr>
                  <td>{{item.i_id}}</td>
                  <td>{{item.i_name}}</td>
                  <td>{{item.i_avail}}</td>
                  <td>{{item.i_pic}}</td>
               </tr>
            </tbody>
         </table> -->


      </form>

      <br><br>
      <button (click)='goBack()'>Go Back</button><br>
   </div>


   <div *ngSwitchCase="State.SeeAvailable">
      <h1>See Available Items</h1>
      <form>

         <!-- INSERT INPUTS NEEDED TO CHECK IN EQUIP -->
         <!-- INSERT STATUS MESSAGES ON CHECKING IN-->

      </form>

      <br><br>
      <button (click)='goBack()'>Go Back</button><br>
   </div>


</div>