<div class="col-md-6 manager-form" [ngSwitch]="this.page">


   <div style="text-align: center" *ngSwitchCase="State.Choices">
      <h1>Manager Page</h1>
      <div class="form-group">
         <button class="btnSubmit" (click)="viewItems()">View Items</button>
      </div>
      <div class="form-group">
         <button class="btnSubmit" (click)="addItem()">Add Item</button>
      </div>
      <div class="form-group">
         <button class="btnSubmit" (click)="deleteItem()">Delete Item</button>
      </div>
      <div class="form-group">
         <button class="btnSubmit" (click)="viewRequests()">Requests</button>
      </div>
      <div class="form-group">
         <button class="btnSubmit" (click)="viewHistory()">History</button>
      </div>
      <div class="form-group">
         <button class="btnSubmit" (click)='goBack()'>Log Out</button>
      </div>
   </div>



   <div *ngSwitchCase="State.ViewItems">
      <h1>Manager Page</h1>
      <div class="form-group">
         <button class="btnSubmit" (click)='goBack()'>Go Back</button>
      </div>
      <table class="table">
         <thead style="color: white">
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Status</th>
               <th>Image</th>
            </tr>
         </thead>
         <tbody style="color: white">
            <tr *ngFor="let item of sortedItemList">
               <td>{{item.i_id}}</td>
               <td>{{item.i_name}}</td>
               <td>{{item.i_avail}}</td>
               <td>{{item.i_pic}}</td>
            </tr>
         </tbody>
      </table>
      <br><br>
      <button class="btnSubmit" (click)='goBack()'>Go Back</button><br>
   </div>



   <div *ngSwitchCase="State.ItemAdd">
      <h1>Add Item</h1>
      <form>

         <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Item Name" [(ngModel)]="name" name="name">
         </div>
         <div class="form-group">
            <input type="text" id="pic" class="form-control" placeholder="Image URL" [(ngModel)]="pic" name="pic">
         </div>

         <button class="btnSubmit" (click)="submitAddItem()">Add Item</button><br>
      </form><br><br>
      <button class="btnSubmit" (click)='goBack()'>Go Back</button>
   </div>



   <div *ngSwitchCase="State.ItemDelete">
      <h1>Delete Item</h1>
      <form>

         <div class="form-group">
            <input type="number" id="id" class="form-control" placeholder="Item ID" [(ngModel)]="id" name="id" pattern="^[0-9]*$">
         </div>
            
         <button class="btnSubmit" (click)='submitDeleteItem()'>Delete</button><br>

      </form><br><br>
      <button class="btnSubmit" (click)='goBack()'>Go Back</button><br>
   </div>


   <div *ngSwitchCase="State.ViewRequests">
      <h1>Request Table</h1>
      <table>
         <thead style="color: white">
            <tr>
               <th>ID</th>
               <th>Item ID</th>
               <!-- <th>Check Out Date</th>
               <th>Check In Date</th> -->
               <th>Employee ID</th>
               <th>Manager Out</th>
               <th>Manager In</th>
            </tr>
         </thead>
         <tbody style="color: white" *ngFor="let transaction of sortedRequestList">
            <tr *ngIf="transaction.t_manokout == 0 || transaction.t_manokin == 0">
               <td>{{transaction.t_id}}</td>
               <td>{{transaction.t_item_id}}</td>
               <!-- <td>{{transaction.t_timeout}}</td>
               <td>{{transaction.t_timein}}</td> -->
               <td>{{transaction.t_borrower}}</td>
               <td>{{transaction.t_manokout}}</td>
               <td>{{transaction.t_manokin}}</td>
            </tr>
         </tbody>
      </table>

      <button class="btnSubmit" (click)='processRequest()'>Process Request</button>
      <br><br>
      <button class="btnSubmit" (click)='goBack()'>Go Back</button><br>
   </div>


   <div *ngSwitchCase="State.ProcessRequest">
      <h1>Process Request</h1>
      <form>
         <!-- INSERT INPUTS NEEDED TO PROCESS REQUEST -->
         <!-- SHOW STATUS MESSAGE ON SUBMISSION-->

      </form><br><br>
      <button (click)='goBack()'>Go Back</button><br>
   </div>


   <div *ngSwitchCase="State.ViewHistory">
      <h1>View History</h1>

      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Item ID</th>
               <!-- <th>Check Out Date</th>
               <th>Check In Date</th> -->
               <th>Employee ID</th>
               <th>Manager Out</th>
               <th>Manager In</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let transaction of sortedRequestList">
               <td>{{transaction.t_id}}</td>
               <td>{{transaction.t_item_id}}</td>
               <!-- <td>{{transaction.t_timeout}}</td>
               <td>{{transaction.t_timein}}</td> -->
               <td>{{transaction.t_borrower}}</td>
               <td>{{transaction.t_manokout}}</td>
               <td>{{transaction.t_manokin}}</td>
            </tr>
         </tbody>
      </table>

      <br><br>
      <button (click)='goBack()'>Go Back</button><br>
   </div>

</div>