.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: orange;
    background-color: white;
}

.manager-form {
    padding: 5%;
    background: orange;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.manager-form h1 {
    text-align: center;
    color: white;
}
